<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Management</title>
    <link rel="stylesheet" href="index.css"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Create Secret</a>
            </div>
            <div class="header-links">
                <a href="admin.html">Administration</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <div class="input-section">
                    <h2>
                        Collez votre mot de passe, message secret ou lien privé ci-dessous
                    </h2>
                    <p>
                        Ne stockez aucune information confidentielle dans vos emails ou fils de discussion
                    </p>
                    <textarea rows="10" cols="80"></textarea>
                </div>
                <div class="keys-section">
                    <label for="pwd" class="pwd-label">Mot de passe:</label>
                    <input id="pwd" class="pwd-input" type="text" value="" placeholder="Un mot ou une phrase qui est difficile à deviner">
                    <label for="lifetime" class="lft-label">Lifetime:</label>
                    <select id="lifetime" class="lft-input" value="" >
                        <option>15 minutes</option>
                        <option>24 hours</option>
                        <option>1 week</option>
                    </select>
                </div>
                <div class="link-section">
                    <button>Créer un lien secret</button>
                </div>
            </div>           
        </main>
        <footer class="footer">All right reserved</footer>
    </div>
</body>
</html>