html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
#root{
  height: 100%;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}
.header{
  grid-area: header;
  background-color: #2a2c2e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
}
.header-links a:hover{
  color: #ff8000;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #2a2c2e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}
textarea{
  width: 100%;
}
input{
  height: 2rem;
}
button {
  background-color: #ff8000;
  color: #ffffff;
  height: 4rem;
  font-size: 2rem;
  border: #ff8000;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
button:hover{
  background-color: #ff5100;
}

/* Index */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60rem;
  padding: 1rem;
}
.keys-section{
  display: grid;
  grid-template-areas: 
  "pwd-label pwd-input"
  "lft-label lft-input";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 60rem;
  padding: 1rem;
}
.pwd-label{
  grid-area: pwd-label;  
  text-align: right;
}
.pwd-input{
  grid-area: pwd-input;  
}
.lft-label{
  grid-area: lft-label;  
  text-align: right;
}
.lft-input{
  grid-area: lft-input;  
}
.link-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60rem;
  padding: 1rem;
}